.recent-search-feed .recent-carousel {
  overflow: scroll;
}

.recent-carousel .carousel {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  width: calc(5* 200px);
  margin: 1em 0;
  gap: .2em;
}

.recent-carousel .carousel-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.carousel-item img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  margin: auto;
}

.carousel-item p {
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  margin: .4em;
  text-align: center;
}