fieldset.horizontal {
  display: flex;
}

fieldset.horizontal span.field {
  width: 90%;
}

fieldset.horizontal .controls {
  margin: 0 0 0 0.5em;
}

details>summary>label {
  cursor: pointer;
}

div.notes {
  position: relative;
}

div.notes::before {
  content: ' ';
  position: absolute;
  border-left: solid #00000057 4px;
  height: 100%;
}

div.notes p {
  margin: 0.25em;
  margin-inline-start: 0.8em;
  line-height: 1.2;
  font-size: 0.8em;
}

div.notes p.error {
  color: #c75151;
}

.block.create-search-form.retailer-target .disable-target {
  display: none;
}

.block.create-search-form.retailer-gamestop .disable-gamestop {
  display: none;
}

.block.create-search-form.retailer-bestbuy .disable-bestbuy {
  display: none;
}

@media (width >=900px) {
  div.notes p {
    font-size: 1em;
  }
}