fieldset.horizontal {
  display: flex;
}

fieldset.horizontal span.field {
  width: 90%;
}

fieldset.horizontal .controls {
  margin: 0 0 0 0.5em;
}

details>summary>label {
  cursor: pointer;
}

.block.create-search-form.retailer-target .disable-target {
  display: none;
}